.products{
    box-shadow:0px 0px 2px #007c85;
    margin:2rem;
    margin-top: 5rem;
    width: 18rem;
    min-height: 20rem;
}
.btnBuy{
    background-color:var(--main-color);
    min-width:115px;
    margin-left: 1rem;
}
.btnDetails{
    background-color: var(--sub-color);
    box-shadow: 0 0 3px #123;
}
.imageProduct{
    transition:var(--transition);
    transition: all 1s;
}
.imageProduct:hover{
    transform: scale(1.1 , 1.1);
}

