.Subscribe_btn{
    background-color: var(--main-color);
    border: 0;
    height: 3rem;
    border-radius: 2rem;
}
.line-tall{
    width: 1px !important;
    height: 125px !important;
}
.input{
   background-color: transparent;
   border-bottom:0.5px #007c85 solid !important;
   border:0 ;
  }