:root{
  --main-color:#007c85;
  --sub-color: #f3f3f3be;
  --transition: all 0.7s;
}
.main-color{
  color: var(--main-color);
}
.bg-main{
  background-color:#007c85 ;
}
.sub-color{
  color: var(--sub-color);
}
.bg-sub-color{
  background-color: var(--sub-color) !important;
}
::-webkit-scrollbar {
  width: 0.4rem;
  background: var(--sub-color);
}
::-webkit-scrollbar-thumb {
  background: var(--sub-color);
}
::-webkit-scrollbar-thumb {
  background-color:  var(--main-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
input {
  outline-style: none;
}
button,
.btn,
[class*="btn"] {
  cursor: pointer !important;
  border-radius: 0.25rem;
}
p{
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #555555; 
  line-height: 1.8;
}
.footer li{
  transition: all 1s;
}
.footer li:hover{
  color:var(--main-color)
}
button{
  border-radius: 3px !important;
}
.cart-shopping{
  width: 45px !important;
}
.main-button ,.total-price {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding: 0 1.5rem;
  height: 2rem;
  border-radius: 1.3rem;
  border: 0;
  transition: var(--transition);
  font-weight: 500;
  margin-left: 0.5rem;
  margin-right: 0.4rem;
}
.total-price{
  margin-left: 30px;
}
.main-button:hover {  
  color: var(--sub-color);
  background-color: #0c535f;
}
.coverLoginAndRegister {
  height: 100vh;
  background-image: url(./images/signIn-cover.webp) !important;
  background-size:cover;
}
.cover{
  background-color: #585a5a56;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999;
}
.coverFromLoginAndRegister{
  background: var(--sub-color);
  min-height: 21vh;
  margin-top:1rem;
  width: 25rem;
  position: relative;
  z-index: 999999;
  margin:1rem;
}
.text-login{    
  font-family:'Times New Roman', Times, serif;
}
.inputsFromLoginAndRegister{
  display: block;
  width: 20rem;
  background-color: transparent;
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
  margin-bottom: 0.8rem;
  border: 0;
  border-bottom: 1px solid var(--main-color) ;
  outline: 0;
  color: var(--main-color);
}
.inputsFromLoginAndRegister::placeholder{
  color:var(--main-color);
}
.errorLoginAndRegister ,.error-message{
  color:red;
  font-size: 0.8rem;
}
.error-message{
  width: 100%;
  font-size: 1rem;
}
.btn-checkOut,
.btnClose,
.btnSubmitOrder,.total-price {
  background-color:  var(--sub-color);
}
.btn-checkOut:hover,
.btnClose:hover {
  background-color: #c4c1c1be;
}
.cart,
.check-out{
  background-color: #034549 !important;
  border: 0 #222 solid;
  list-style-type: none !important;
  width:47rem;
  outline-style: none !important;
  min-width: 5rem;
  height: 17rem;
  border-radius: 0.4rem;
  padding: 1rem;
  overflow-y: auto;
}
.check-out{
  width: 40rem;
  height:29rem;
}
.total-price{
  background-color: transparent;
  color: var(--sub-color);
}
.hide {
  display: none;
}
.paragraph{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
   overflow: hidden;
}
.cursor{
  cursor:pointer;
}
.logOut-btn{
   background-color: var(--main-color) !important;
   width: 115px;
}
.nav-btns{
  background-color:var(--sub-color);
  width:115px !important;
  color:var(--main-color);
  text-decoration: none;
}
.navbar .nav-link.active,
.navbar .nav-link:hover {
  color: #007c85 !important;
}
.navbar .nav-btns.active 
,.navbar .nav-btns:hover{
  transition:all 1s ;
  background-color: var(--main-color) !important;
  color:#ffffff !important
}
.nav-btns{
  margin-top:10px !important;
  margin:5px !important
}



